<div  class ="sign_form">
  <% if @_current.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@_current.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @_current.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%=  form_with(model:@_current,  local: true, url: main_create_path, :class => 'form_ed') do |form|%>
  <h1 class="vb"> <img id="logo" src="/assets/сердце3.svg" />VBomonke</h1><br/>
  <%= form.text_field :first_name, :class => 'form-control inp em',:placeholder => 'Фамилия' %>
  <%= form.text_field :last_name, :class => 'form-control inp' ,:placeholder => 'Имя' %>
  <%= form.text_field :group, :class => 'form-control inp' ,:placeholder => 'Группа (формат: ИУ6-32Б) ' %>
  <%= form.date_field :born, :class => 'form-control inp' %>
  <%= form.text_field :status, :class => 'form-control inp' ,:placeholder => 'Статус' %>
  <%= form.email_field :email, :class => 'form-control inp',:placeholder => 'Почта'%>
  <%= form.text_field :love_status, :class => 'form-control inp' ,:placeholder => 'Личный статус:' %>
  <%= form.text_field :city, :class => 'form-control inp' ,:placeholder => 'Страна' %>
  <%= form.text_field :town, :class => 'form-control inp' ,:placeholder => 'Город' %>
  <%= form.text_field :contact, :class => 'form-control inp' ,:placeholder => 'Ссылка на вк' %>
  <%= form.text_area :info, :class => 'form-control inp' ,:placeholder => 'Расскажите немного о себе...' %>
  <%= form.password_field :password, :class => 'form-control inp psr',:placeholder => 'Пароль'%>
  <% if @_current.avatar.file.nil?%>
  <% else %>
  <%= image_tag @_current.avatar.url, :class => "question-img avatarka", :alt => "Аватар"%>
  <% end %>
  <%= form.file_field :avatar, :class => 'form-control inp'  %>
  <%= form.submit 'Редактировать', :class => 'btn btn-outline-secondary'   %>
  <span class="link_to_sign">Передумали?</span>
  <%= link_to "Вернуться", main_my_profile_path %>
  <br><br>
  <%= link_to 'Удалить свой аккаунт', main_destroy_path,
              data: { confirm: 'Вы уверены, что хотите удалить аккаунт?' }, :class => "link_to" %>
  <% end %>
</div>