<div  class ="sign_form">
  <% if @_current.errors.any? %>
  <div id="error_explanation">
    <h2> <%=t 'from_being_saved'%> </h2>
    <ul>
      <% @_current.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%=  form_with(model:@_current,  local: true, url: main_create_path, :class => 'form_ed') do |form|%>
  <h1 class="vb"> <img id="logo" src="/assets/сердце3.svg" />VBomonke</h1><br/>
  <%= form.text_field :first_name, :class => 'form-control inp em',:placeholder => t('sername') %>
  <%= form.text_field :last_name, :class => 'form-control inp' ,:placeholder => t('name') %>
  <%= form.text_field :group, :class => 'form-control inp' ,:placeholder => t('group_plhldr') %>
  <%= form.date_field :born, :class => 'form-control inp' %>
  <%= form.text_field :status, :class => 'form-control inp' ,:placeholder => t('prof_status') %>
  <%= form.email_field :email, :class => 'form-control inp',:placeholder => t('email')%>
  <%= form.text_field :love_status, :class => 'form-control inp' ,:placeholder => t('status') %>
  <%= form.text_field :city, :class => 'form-control inp' ,:placeholder => t('country') %>
  <%= form.text_field :town, :class => 'form-control inp' ,:placeholder => t('point') %>
  <%= form.text_field :contact, :class => 'form-control inp' ,:placeholder => t('vk')  %>
  <%= form.text_area :info, :class => 'form-control inp' ,:placeholder => t('info')  %>
  <%= form.password_field :password, :class => 'form-control inp psr',:placeholder => t('pass')%>
  <% if @_current.avatar.file.nil?%>
  <% else %>
  <%= image_tag @_current.avatar.url, :class => "question-img avatarka", :alt => t('avatar') %>
  <% end %>
  <%= form.file_field :avatar, :class => 'form-control inp'  %>
  <%= form.submit t('edit_link') , :class => 'btn btn-outline-secondary'   %>
  <span class="link_to_sign"><%=t 'think' %></span>
  <%= link_to t('back_link'), main_my_profile_path %>
  <br><br>
  <%= link_to  t('delete'), main_destroy_path,
  data: { confirm: t('delete_confirm') }, :class => "link_to" %>
  <% end %>
</div>