<div class="container">
  <div id="main">
    <header class="hea">
      <nav class="navbar navbar-expand-md fixed-top">
        <img id="logo" src="/assets/сердце3.svg">
        <a class="navbar-brand text-dark site_name" href="../../<%= I18n.locale %>/">VBomonke</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div >
        <div id="but">
          <a href= "../../<%= I18n.locale %>/main/my_profile"> <button type="button" class="btn btn-outline-secondary"><%=t 'my_profile'%><%= @_current.last_name %></button></a>
        </div>
      </nav>
    </header>
    <% if @persons.length==0 %>
    <span id="new"><%=t 'begin_mess'%><%= @faculty %>  <%=t 'end_mass'%></span>
    <% else %>
    <span id="new"><%=t 'direction'%> <%= @faculty %></span>
    <% end %>
    <%= render 'main/ list' %>
  </div>
</div>