<div class="container">
  <div id="main">
    <header class="hea">
      <nav class="navbar navbar-expand-md fixed-top">
        <img id="logo" src="/assets/сердце3.svg">
        <a class="navbar-brand text-dark site_name" href="#">VBomonke</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div >
        <div id="but">
          <% if @_current %>
          <a href="../signout"><button type="button" id="exit" class="btn btn-outline-secondary"><%=t 'output'%></button></a>
          <a href= "../main/my_profile"> <button type="button" id="prof" class="btn btn-outline-secondary"><%=t 'my_profile'%> <%= @_current.last_name %></button></a>
          <%else %>
          <a href="../signin"><button type="button" id="entre" class="btn btn-outline-secondary"  ><%=t 'entry'%></button></a>
          <a href="../signup"> <button type="button" id="reg" class="btn btn-outline-secondary"><%=t 'registration'%></button></a>
          <% end %>
        </div>
      </nav>
    </header>
    <% if @persons.length==0 %>
    <span id="new"><%=t 'no_users'%></span>
    <% else %>
    <span id="new"><%=t 'New_users'%></span>
    <% end %>
    <% @persons.each do |person| %>
    <% if !@_current || @_current.id != person.id %>
    <div class="col-9 ">
      <div class="row question-box">
        <div class="col-3 a">
          <% if person.avatar.file.nil?%>
          <img src="/assets/def_avatar.jpg" class="question-img"alt="<%=t 'avatar'%>">
          <% else %>
          <%= image_tag person.avatar.url, :class => "question-img", :alt => "Аватар"%>
          <% end %>
        </div>
        <div class="col-9 a">
          <div class="question-title a"><a class="text-dark" href="../profile/<%= person.id %>"><%= person.first_name %> <%= person.last_name %>  </a></div>
          <span class="question-text a" ><%= person.status %> </span>
          <br/><br>
          <a href="/search/<%= person.group %>"> <span class="question-text a"><%= person.group %> </span> </a>
          <div class="row">
            <div class="col-5 a">
            </div>
            <% if @_current %>
            <div class="nrav">
              <%= link_to image_tag(image_path('сердце3.svg'), class: "mini"), main_add_path(params: { kogo:person.id }), remote: true, id: "add_#{person.id}"%>
              <%= link_to  image_tag(image_path('разбито1.jpg'), class: "mini2"), main_delete_path(params: {  kogo:person.id }), remote: true,  id: "dis_#{person.id}", class: "mini_a"%>
              <a href="../likers/<%= person.id %>"><span id="like_<%= person.id %>" class="number_like"><%= UserCommunication.where(like: person.id).count %></span></a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%end %>
  </div>
</div>


