<div class="container">
  <div id="main">
    <header class="hea">
      <nav class="navbar navbar-expand-md fixed-top">
        <img id="logo" src="/assets/сердце3.svg">
        <a class="navbar-brand text-dark site_name" href="../">VBomonke</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div >
        <div id="but">
          <a href= "../main/my_profile"> <button type="button" class="btn btn-outline-secondary"><%=t 'my_profile'%><%= @_current.last_name %></button></a>
        </div>
      </nav>
    </header>
    <% if @persons.length==0 %>
    <span id="new"><%=t 'no_likers'%><%= @user.first_name %> <%= @user.last_name %></span>
    <% else %>
    <span id="new"><%=t 'likers'%><%= @user.first_name %> <%= @user.last_name %></span>
    <% end %>
    <%= render 'main/ list' %>
  </div>
</div>