<header class="hea">
  <nav class="navbar navbar-expand-md fixed-top">
    <img id="logo" src="/assets/сердце3.svg">
    <a class="navbar-brand text-dark site_name" href="../../">VBomonke</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    </div >
    <div id="but">
      <a href="../records/<%= @_current.id %>"><button type="button" class="btn btn-outline-secondary"><%=t 'wall'%></button></a>
      <a href="../signout"><button type="button" class="btn btn-outline-secondary"><%=t 'output'%></button></a>
    </div>
  </nav>
</header>
<div class="container prof">
  <div id="main">
    <div class="row" id="real-estates-detail">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <header class="panel-title">
              <div class="text-center">
              </div>
            </header>
          </div>
          <div class="panel-body">
            <div class="text-center" id="author">
              <% if  @_current.avatar.file.nil?%>
              <img src="/assets/def_avatar.jpg">
              <% else %>
              <%= image_tag @_current.avatar.url%>
              <% end %>
              <% if !@_current.status.nil? && !@_current.status.empty? %>
              <h5><%= @_current.status %></h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="panel">
          <div class="panel-body">
            <h1  data-toggle="tab"><%=t 'Hello'%>, <%= @_current.first_name %>   <%= @_current.last_name %> </h1>
            <div id="myTabContent" class="tab-content">
              <hr>
              <table class="table table-th-block">
                <tbody>
                  <% key=0 %>
                  <% if !@_current.group.nil? && !@_current.group.empty? %>
                  <tr><td class="active"><%=t 'group'%></td><td><a href="/search/<%= @_current.group %>"> <%= @_current.group %></a> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if  !@_current.city.nil? && !@_current.city.empty? %>
                  <tr><td class="active"><%=t 'country'%>:</td><td><%= @_current.city %> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if  !@_current.town.nil? && !@_current.town.empty? %>
                  <tr><td class="active"><%=t 'town'%></td><td><%= @_current.town %> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if  !@_current.born.to_s.nil? && !@_current.born.to_s.empty? %>
                  <tr><td class="active"><%=t 'born'%></td><td><%= @_current.born %></td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if !@_current.love_status.nil? && !@_current.love_status.empty? %>
                  <tr><td class="active"><%=t 'status'%>:</td><td><%= @_current.love_status %></td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if  !@_current.contact.nil? && !@_current.contact.empty? %>
                  <tr><td class="active"><%=t 'contact'%></td><td><a href="<%= @_current.contact %>" target="_blank"><%=t 'ssil'%></a> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if  !@_current.info.nil? && !@_current.info.empty? %>
                  <tr><td class="active"><%=t 'about'%></td><td><%= @_current.info %> </td></tr>
                  <%key+=1 %>
                  <% end %>
                </tbody>
              </table>
              <% if key<7 %>
              <br><br>
              <h6 class="zam"><%=t 'zam'%></h6>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="prof_but">
    <a href="../main/edit"> <button class="btn btn-outline-secondary" ><%=t 'edit'%></button></a>
    <a href="../love"><button class="btn btn-outline-secondary" ><%=t 'love_users'%></button></a>
  </div>
</div>
</div>