<header class="hea">
  <nav class="navbar navbar-expand-md fixed-top">
    <img id="logo" src="/assets/сердце3.svg">
    <a class="navbar-brand text-dark site_name" href="../../">VBomonke</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    </div >
    <div id="but">
      <a href="../records/<%= @man.id %>"><button type="button" class="btn btn-outline-secondary">Стена</button></a>
    </div>
  </nav>
</header>
<div class="container prof">
  <div id="main">
    <div class="row" id="real-estates-detail">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <header class="panel-title">
              <div class="text-center">
              </div>
            </header>
          </div>
          <div class="panel-body">
            <div class="text-center" id="author">
              <% if  @man.avatar.file.nil?%>
              <img src="/assets/def_avatar.jpg">
              <% else %>
              <%= image_tag @man.avatar.url%>
              <% end %>
              <% if !@man.status.nil? && !@man.status.empty? %>
              <h5><%= @man.status %></h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="panel">
          <div class="panel-body">
            <h1  data-toggle="tab"><%= @man.first_name %>  <%= @man.last_name %></h1>
            <div id="myTabContent" class="tab-content">
              <hr>
              <table class="table table-th-block">
                <tbody>
                  <% key=0 %>
                  <% if !@man.group.nil? && !@man.group.empty? %>
                  <tr><td class="active">Группа</td><td><a href="/search/<%= @man.group %>"> <%= @man.group %></a> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if !@man.city.nil? && !@man.city.empty? %>
                  <tr><td class="active">Страна:</td><td><%= @man.city %> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if !@man.town.nil? && !@man.town.empty? %>
                  <tr><td class="active">Родной город:</td><td><%= @man.town %> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if !@man.born.to_s.nil? && !@man.born.to_s.empty? %>
                  <tr><td class="active">Дата рождения:</td><td><%= @man.born %></td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if !@man.love_status.nil? && !@man.love_status.empty? %>
                  <tr><td class="active">Личный статус:</td><td><%= @man.love_status %></td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if !@man.contact.nil? && !@man.contact.empty? %>
                  <tr><td class="active">Контакты:</td><td><a href="<%= @man.contact %>" target="_blank">ссылка</a> </td></tr>
                  <%key+=1 %>
                  <% end %>
                  <% if !@man.info.nil? && !@man.info.empty? %>
                  <%key+=1 %>
                  <tr><td class="active">О себе:</td><td><%= @man.info %> </td></tr>
                  <% end %>
                </tbody>
              </table>
              <% if key<4 %>
              <br><br>
              <h6 class="zam">К сожалению, пользотель заполнил не много информации о себе</h6>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if UserCommunication.find_by_liker_and_like(@_current.id, @man.id) %>
  <%= link_to image_tag(image_path('сердце3.svg'), class: "mini"), main_add_path(params: { kto:@_current.id, kogo:@man.id }), remote: true, id: "add_#{@man.id}", class: "mini_a"%>
  <%= link_to  image_tag(image_path('разбито1.jpg'), class: "mini2"), main_delete_path(params: { kto:@_current.id, kogo:@man.id }), remote: true,  id: "dis_#{@man.id}"%>
  <% else %>
  <%= link_to image_tag(image_path('сердце3.svg'), class: "mini"), main_add_path(params: { kto:@_current.id, kogo:@man.id }), remote: true, id: "add_#{@man.id}"%>
  <%= link_to  image_tag(image_path('разбито1.jpg'), class: "mini2"), main_delete_path(params: { kto:@_current.id, kogo:@man.id }), remote: true,  id: "dis_#{@man.id}", class: "mini_a"%>
  <% end %>
  <a href="../likers/<%= @man.id %>"><span id="like_<%= @man.id %>" class="number_like"><%= UserCommunication.where(like: @man.id).count %></span></a>
</div>
</div>