<div  class ="sign_form">
  <%= form_for(:session, :url => session_index_path,:html => {:class => 'form-sign'} ) do |f| %>
    <h1 class="vb"> <img id="logo" src="/assets/сердце3.svg" /><a href="../">VBomonke</a></h1>
    <br/>
  <%= @title%>
  <p id="alert"><%= alert %></p>
  <%= f.email_field :email, :class => 'form-control inp',:placeholder => t('email')%>
  <%= f.password_field :password, :class => 'form-control inp psr',:placeholder => t('pass')%>
  <div class="actions">
    <%= f.submit t('entry_but'), :class => 'btn btn-outline-secondary'%>
  </div>
  <span class="link_to_s"><%=t 'New_user?'%></span>
  <%= link_to t('will_reg'), signup_path %>
  <% end %>
</div>