<div  class ="sign_form">
	<% if user.errors.any? %>
	<div id="error_explanation">
		<h2><%=t 'from_being_saved'%> </h2>
		<ul>
			<% user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div>
		<%= form_with(model: user, local: true, :class => 'form-signin' ) do |form| %>
		<h1 class="vb"> <img id="logo" src="/assets/сердце3.svg" /><a href="../">VBomonke</a></h1><br/>
		<%= form.email_field :email, :class => 'form-control inp',:placeholder => 'Почта '%>
		<%= form.password_field :password, :class => 'form-control inp psr',:placeholder => 'Пароль'%>
		<%= form.password_field :password_confirmation, :class => 'form-control inp psr',:placeholder => 'Повтор пароля'%>
		<%= form.text_field :first_name, :class => 'form-control inp em',:placeholder => 'Фамилия'%>
		<%= form.text_field :last_name, :class => 'form-control inp' ,:placeholder => 'Имя'%>
		<div class="actions">
			<%= form.submit 'Зарегестрироваться', :class => 'btn btn-outline-secondary'   %>
		</div>
		<span class="link_to_sign"><%=t 'Already_has_account?'%></span>
		<%= link_to 'Войти',  signin_path %>
		<% end %>
	</div>
</div>