<body class="wall">
<div  class ="sign_form">
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%=t 'from_being_saved'%> </h2>
      <ul>
        <% @record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form_with(model: @record, url: wall_create_record_path ,local: true, :class => 'form-signin' ) do |form| %>
      <h1 class="vb">&nbsp;&nbsp;<%=t 'new_rec'%></h1><br/>
      <%= form.text_field :title, :class => 'form-control inp',:placeholder => t('title_rec')%>
      <%= form.text_area :body, :class => 'form-control inp' ,:placeholder => t('thinks')  %>
    <div class="form-control inp" > <%= form.select :status, [t('tag_one'), t('tag_two'), t('tag_tree')] , :class => 'form-control inp' %> </div>
      <div class="actions">
        <%= form.submit t('creat'), :class => 'btn btn-outline-secondary'   %>
      </div>
      <span class="link_to_sign"><%=t 'rethink'%></span>
      <%= link_to t('back_rec'),  "/#{I18n.locale}/records/#{@_current.id}" %>
    <% end %>
  </div>
</div>
</body>