<body class="wall">
<div class="container">
  <div id="main">
    <header class="hea">
      <nav class="navbar navbar-expand-md fixed-top">
        <img id="logo" src="/assets/сердце3.svg">
        <a class="navbar-brand text-dark site_name" href="../../<%= I18n.locale %>/">VBomonke</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div >
        <div id="but">
          <% if @_current.id == @id %>
            <a href= "../../<%= I18n.locale %>/main/my_profile"> <button type="button" class="btn btn-outline-secondary"><%=t 'back'%></button></a>
            <a href="../add_record"><button type="button" id="exit" class="btn btn-outline-secondary"><%=t 'create_rec'%></button></a>
            <% else %>
            <a href= "../profile/<%= @id %>"> <button type="button" class="btn btn-outline-secondary"><%=t 'back'%></button></a>
            <% end %>
        </div>
      </nav>
    </header>
    <% if @records.length==0 %>
      <span id="new"><%=t 'new_mess'%></span>
    <% else %>
      <% if @_current.id == @id %>
        <span id="new_2"><%=t 'your_wall'%> , <%= @author.first_name %> <%= @author.last_name %></span>
      <% else %>
      <span id="new"><%=t 'new_mess_true'%> <%= @author.first_name %> <%= @author.last_name %></span>
      <% end %>
    <% end %>
    <% @records.each do |record| %>
      <div id="<%= record.id %>" class="col-9 ">
          <div class="row question-box">
            <div class="col a">
              <div class="question-title a"><%= record.title %>
                <% if record.status == t('tag_one') %>
                <%= image_tag(image_path('мозг.png'), class: "mini", title: t('tag_one')) %>
                  <% elsif record.status == t('tag_two')%>
                  <%= image_tag(image_path('нравится.jpg'), class: "mini", title: t('tag_two')) %>
                <% else %>
                  <%= image_tag(image_path('не_нравится.jpg'), class: "mini", title: t('tag_tree')) %>
                <% end %>
              </div>
              <span class="question-text a" ><%= record.body %> </span>
              <br/><br>
                <% if @_current.id == @id %>
                  <div class="nrav">
                    <%= link_to image_tag(image_path('настройки.jpg'), class: "mini"), edit_record_path(params: { id: record.id }), class: "edit"%>
                    <%= link_to  image_tag(image_path('корзина.jpg'), class: "mini2"), wall_delete_record_path(params: { id: record.id }), remote: true,  id: "dis_#{record.id}", data: { confirm: t('confirm_wall') } %>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
    <%end %>
  </div>
</div>
</body>