<!DOCTYPE html>
<html>
  <head>
    <title>VBomonke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      href="http://e-learning.bmstu.ru/moodle/pluginfile.php/754
      6/mod_folder/content/0/bootstrap.min.css" rel="stylesheet">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" type="image/x-icon" href="/assets/сердце3.svg" >
      
    </head>
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>